<!-- ABOUT AREA START -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 heading">
                <h3>About</h3>
            </div>
        </div>
        <div class="row about-pt">
            <div class="col-lg-5 col-sm-9 m-sm-auto about-img">
                <div class="about-txt-overlay">
                    <h3 class="counter" data-counterup-time="2000" data-counterup-delay="30" data-counterup-beginat="1">2018</h3>
<span>Since</span>
                </div>
                <center><img src="images/home/Viznity Logo.png" width="50%" height="50%" alt="about-img" class="img-fluid"></center>
            </div>
            <div class="col-lg-7">
                <div class="about-txt">
                    <span>VIZNITY&nbsp;</span>
                    <h3>From a game developer who wants to fulfill erotic games dream<b>.</b></h3>
                    <p>Viznity was founded in November 2018.
                    <br>
                    Viznity's goal is to create the amazing adult games!
                    Currently I focused on cartoon visual novel game but my dream is transpose the same quality in animations, short movies and why not, one day in a 3D game..
        <br>
        Its sole funding is provided by community support on Patreon.</p>
                    <!-- <a href="#" class="main-btn">Explore More</a> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ABOUT AREA END -->
