<!-- BANNER AREA START -->
<section id="banner">
    <div class="backtotop">
        <a href="#banner"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
    </div>
    <div class="follow-us">
        <span>Follow us</span>
        <a href="https://patreon.com/Viznity" target="_blank"><i class="fab fa-patreon" aria-hidden="true"></i></a>
        <a href="https://www.youtube.com/channel/UCFhoCPGgKXG9T7WWGb2GtNg" target="_blank"><i class="fab fa-youtube" aria-hidden="true"></i></a>
        <a href="https://viznity.newgrounds.com" target="_blank"><i class="fas fa-globe-americas" aria-hidden="true"></i></a>
        <a href="https://twitter.com/viznity" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a>
        <a href="https://viznity.itch.io" target="_blank"><i class="fab fa-itch-io" aria-hidden="true"></i></a>
    </div>
    <div class="banner-arrow">
        <i class="fa fa-angle-left arrow-al" aria-hidden="true"></i>
        <i class="fa fa-angle-right arrow-ar" aria-hidden="true"></i>
    </div>
    <div class="container zindex">
        <div class="row">
            <div class="col-lg-6 col-sm-8 col-md-6 landscape-m-auto tab-m-auto banner-img">
                <img src="images/gallery/ashley1.png" width="1700" height="150%" alt="banner-img" class="img-fluid">
                <!-- <a class="vid-btn venobox" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/watch?v=ClUFJlGBuME"><i class="fa fa-play" aria-hidden="true"></i></a> -->
            </div>
            <div class="col-lg-5 m-auto banner-txt">
                <div class="banner-main">
                    <div class="banner-item">
                        <h3>Viznity</h3>
                        <h3>Games</h3>
                        <p>We create erotic games!</p>
                        <a href="https://patreon.com/Viznity" class="main-btn"><i class="fab fa-patreon"> Join Community on Patreon</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- BANNER AREA END -->
