<!-- BLOG AREA START -->
<!--
<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 heading">
                <h3>Patreon Posts</h3>
            </div>
        </div>
        <div class="row blog-pa">
            <div class="col-lg-12">
                <div class="blog-main">
                    <div class="col-lg-4 blog-item">
                        <img src="images/blog1.jpg" alt="blog-img" class="img-fluid">
                        <div class="blog-txt">
                            <span>24 min ago</span>
                            <a href="#">eSports Gaming Industry Growth & Importance</a>
                        </div>
                    </div>
                    <div class="col-lg-4 blog-item">
                        <img src="images/blog2.jpg" alt="blog-img" class="img-fluid">
                        <div class="blog-txt">
                            <span>1 day ago</span>
                            <a href="#">eSports Gaming Industry Growth & Importance</a>
                        </div>
                    </div>
                    <div class="col-lg-4 blog-item">
                        <img src="images/blog3.jpg" alt="blog-img" class="img-fluid">
                        <div class="blog-txt">
                            <span>55 min ago</span>
                            <a href="#">eSports Gaming Industry Growth & Importance</a>
                        </div>
                    </div>
                    <div class="col-lg-4 blog-item">
                        <img src="images/blog4.jpg" alt="blog-img" class="img-fluid">
                        <div class="blog-txt">
                            <span>3 week ago</span>
                            <a href="#">eSports Gaming Industry Growth & Importance</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="blog-arrow text-center">
                    <i class="fa fa-angle-left arrow-al" aria-hidden="true"></i>
                    <i class="fa fa-angle-right arrow-ar" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- BLOG AREA END -->
