<!-- BRAND AREA START -->
<section id="brand">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="brand-main">
                    <div class="col-lg-3 text-center">
                        <img src="images/home/unity-technologies.png" width="83" height="auto" alt="brand-img">
                    </div>
                    <div class="col-lg-3 text-center">
                        <img src="images/home/unreal-engine.png" width="83" height="auto" alt="brand-img">
                    </div>
                    <div class="col-lg-3 text-center">
                        <img src="images/home/visual-studio.png" width="83" height="auto" alt="brand-img">
                    </div>
                    <div class="col-lg-3 text-center">
                        <img src="images/home/adobe-photoshop-brand-stroke.png" width="83" height="auto" alt="brand-img">
                    </div>
                    <div class="col-lg-3 text-center">
                        <img src="images/home/clip-studio.png" width="83" height="auto" alt="brand-img">
                    </div>
                    <div class="col-lg-3 text-center">
                        <img src="images/home/patreon-rectangular-brand.png" width="83" height="auto" alt="brand-img">
                    </div>
                    <div class="col-lg-3 text-center">
                        <img src="images/home/autodesk-maya.png" width="83" height="auto" alt="brand-img">
                    </div>
                    <div class="col-lg-3 text-center">
                        <img src="images/home/daz3d.png" width="83" height="auto" alt="brand-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- BRAND AREA END -->
