<!-- COUNTER AREA START -->
<section id="counter">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 text-center">
                <div class="counter-item">
                    <h3 class="counter" data-counterup-time="2500" data-counterup-delay="30" data-counterup-beginat="20">800</h3>
                    <span>$+<b>.</b></span>
                    <p>Community Earning</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <div class="counter-item">
                    <h3 class="counter" data-counterup-time="2500" data-counterup-delay="30" data-counterup-beginat="20">50</h3>
                    <span>K+<b>.</b></span>
                    <p>Players</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <div class="counter-item">
                    <h3 class="counter" data-counterup-time="2500" data-counterup-delay="30" data-counterup-beginat="20">15</h3>
                    <span>K+<b>.</b></span>
                    <p>Downloads</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <div class="counter-item">
                    <h3 class="counter" data-counterup-time="2500" data-counterup-delay="30" data-counterup-beginat="20">5</h3>
                    <span>+<b>.</b></span>
                    <p>Streams Complete</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- COUNTER AREA END -->
