<!-- GAMES AREA START -->
<section id="games">
    <div class="container game-line">
        <div class="gl-one gl"></div>
        <div class="gl-two gl"></div>
        <div class="row game-pa">
            <div class="col-lg-4 col-md-11 tab-m-auto">
                <div class="game-box">
                    <span>VIZNITY's</span>
                    <h3>Games Collection</h3>
                    <p>Play the exciting +18 games made by Viznity now!</p>
                    <a href="https://viznity.itch.io/" class="main-btn">Itch.io</a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="game-main">
                    <div class="col-lg-4 game-item text-center">
                        <div class="game-img">
                            <img src="images/home/game-lote.jpg" alt="game-img" class="img-fluid">
                            <div class="lightbox-overlay">
                                <a href="images/home/game-lote.jpg" target="_blank" data-lightbox="roadtrip" data-title="Gallery"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <a href="#">Lord of the Elves</a>
                        <div class="star">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="col-lg-4 game-item text-center">
                        <div class="game-img">
                            <img src="images/home/game-elsa.jpg" alt="game-img" class="img-fluid">
                            <div class="lightbox-overlay">
                                <a href="images/game1.jpg" data-lightbox="roadtrip" data-title="Gallery"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <a href="#">Train Your Ass With Elsa</a>
                        <div class="star">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half" aria-hidden="false"></i>
                        </div>
                    </div>
                    <div class="col-lg-4 game-item text-center">
                        <div class="game-img">
                            <img src="images/home/game-kiva.jpg" alt="game-img" class="img-fluid">
                            <div class="lightbox-overlay">
                                <a href="images/home/game-kiva.jpg" data-lightbox="roadtrip" data-title="Gallery"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <a href="#">Kiva Sucks At Videogames</a>
                        <div class="star">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                    </div>
        <div class="col-lg-4 game-item text-center">
                        <div class="game-img">
                            <img src="images/home/game-rick.jpg" alt="game-img" class="img-fluid">
                            <div class="lightbox-overlay">
                                <a href="images/home/game-rick.jpg" data-lightbox="roadtrip" data-title="Gallery"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <a href="#">Rick's Lewd Universe</a>
                        <div class="star">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="col-lg-4 game-item text-center">
                        <div class="game-img">
                            <img src="images/home/game-sera.jpg" alt="game-img" class="img-fluid">
                            <div class="lightbox-overlay">
                                <a href="images/home/game-sera.jpg" data-lightbox="roadtrip" data-title="Gallery"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <a href="#">Sera (Working Title)</a>
                        <div class="star">
                            Not Rated Yet
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- GAMES AREA END -->
