<!-- JOIN AREA START -->
<section id="join">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="join-bg">
                    <div class="row">
                        <div class="col-lg-6 join-txt">
                            <span>Development Process</span>
                            <h3>Join our Community and Support us!</h3>
                            <p>Various resources, manpower and time are needed to develop games. Your support will directly contribute to the development process. We are currently having difficulty producing new content as we cannot provide sufficient financial support.
                            Do you want to help us? Now is the time!</p>
                            <a href="https://www.patreon.com/Viznity" class="main-btn">Join Community</a>
                        </div>
                        <div class="col-lg-6 join-img">
                            <img src="images/gallery/ashley4.png" width="548" height="auto" alt="join-img" class="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- JOIN AREA END -->
