<!-- PLAYER AREA START -->
<section id="player">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 heading">
                <h3>Top Contributors</h3>
            </div>
        </div>
        <div class="row player-pa">
            <div class="col-lg-12">
                <div class="player-main">
                    <div class="col-lg-4 player-middle">
                        <div class="player-item">
                            <div class="player-img">
                                <center><img src="images/patrons/Blackwolf36.jpg" width="440" height="auto" alt="player-img" class="img-fluid"></center>
                                <!--
                                <div class="player-lightbox">
                                    <a href="images/patrons/Blackwolf36.jpg" data-lightbox="roadtrip" data-title="Gallery"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                </div>
                                -->
                            </div>
                            <div class="player-info">
                                <h3>Blackwolf36</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 player-middle">
                        <div class="player-item">
                            <div class="player-img">
                                <center><img src="images/patrons/Hollowed.jpg" width="440" height="auto" alt="player-img" class="img-fluid"></center>
                                <!--
                                <div class="player-lightbox">
                                    <a href="images/patrons/Hollowed.jpg" data-lightbox="roadtrip" data-title="Gallery"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                </div>
                                -->
                            </div>
                            <div class="player-info">
                                <h3>Hollowed</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 player-middle">
                        <div class="player-item">
                            <div class="player-img">
                                <center><img src="images/patrons/Joris-de-Heer.jpg" width="440" height="auto" alt="player-img" class="img-fluid"></center>
                                <!--
                                <div class="player-lightbox">
                                    <a href="images/patrons/Joris-de-Heer.jpg" data-lightbox="roadtrip" data-title="Gallery"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                </div>
                                -->
                            </div>
                            <div class="player-info">
                                <h3>Joris de Heer</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 player-middle">
                        <div class="player-item">
                            <div class="player-img">
                                <center><img src="images/patrons/D-Letter-Rectangle.png" width="440" height="auto" alt="player-img" class="img-fluid"></center>
                                <!--
                                <div class="player-lightbox">
                                    <a href="images/patrons/D-Letter-Rectangle.png" data-lightbox="roadtrip" data-title="Gallery"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                </div>
                                -->
                            </div>
                            <div class="player-info">
                                <h3>Dre Johnson</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row player-pa2">
            <div class="col-lg-6 col-sm-12 player-txt">
                <h3>Meet our Top Contributers from worldwide of all time<b>.</b></h3>
            </div>
            <div class="col-lg-6 col-sm-7 m-sm-auto player-txt">
                <div class="row">
                    <div class="col-lg-6 col-sm-6 text-center">
                        <h4 class="counter" data-counterup-time="2500" data-counterup-delay="30" data-counterup-beginat="50">108</h4>
                        <span></span>
                        <p>Total Contributers</p>
                    </div>
                    <div class="col-lg-6 col-sm-6 text-center">
                        <h4 class="counter" data-counterup-time="2500" data-counterup-delay="30" data-counterup-beginat="50">3</h4>
                        <span></span>
                        <p>Montly Contributers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- PLAYER AREA END -->
