

    <!-- PRODUCT AREA START -->
    <!--
    <section id="product">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 heading">
                    <h3>Product</h3>
                </div>
            </div>
            <div class="row product-pa">
                <div class="col-lg-12">
                    <div class="product-main">
                        <div class="col-lg-3 text-center">
                            <div class="product-item">
                                <h3>$135</h3>
                                <img src="images/product1.png" alt="product-img" class="img-fluid">
                                <h4>Ober headset</h4>
                                <a href="#" class="product-btn">Add to Cart</a>
                            </div>
                        </div>
                        <div class="col-lg-3 text-center">
                            <div class="product-item">
                                <h3>$240</h3>
                                <div class="sale">
                                    <span>Sale</span>
                                </div>
                                <img src="images/product2.png" alt="product-img" class="img-fluid">
                                <h4>D-Link Webcam</h4>
                                <a href="#" class="product-btn">Add to Cart</a>
                            </div>
                        </div>
                        <div class="col-lg-3 text-center">
                            <div class="product-item">
                                <h3>$135</h3>
                                <img src="images/product1.png" alt="product-img" class="img-fluid">
                                <h4>Ober headset</h4>
                                <a href="#" class="product-btn">Add to Cart</a>
                            </div>
                        </div>
                        <div class="col-lg-3 text-center">
                            <div class="product-item">
                                <h3>$99</h3>
                                <div class="sale">
                                    <span>Sale</span>
                                </div>
                                <img src="images/product3.png" alt="product-img" class="img-fluid">
                                <h4>Wired Earphone</h4>
                                <a href="#" class="product-btn">Add to Cart</a>
                            </div>
                        </div>
                        <div class="col-lg-3 text-center">
                            <div class="product-item">
                                <h3>$240</h3>
                                <img src="images/product2.png" alt="product-img" class="img-fluid">
                                <h4>D-Link Webcam</h4>
                                <a href="#" class="product-btn">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- PRODUCT AREA END -->
