<!-- SUBSCRIBE AREA START -->
<section id="subscribe">
    <div class="container zindex">
        <div class="row">
            <div class="col-lg-6 col-md-8 subscribe-txt">
                <h3>Get Latest news in your inbox from Viznity<b>.</b></h3>
            </div>
            <div class="col-lg-6 col-md-4 text-center">
                <a href="https://patreon.com/Viznity" target="_blank" class="subscribe-btn">Become Patron</a>
            </div>
        </div>
    </div>
</section>
<!-- SUBSCRIBE AREA END -->
